body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Carousel Section */
.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size:cover;
    max-height: 600px;
}
.carousel-item:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    margin-bottom: 150px;
}
/* Discover Section */
.discover h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}
.discover p{
    font-size: 16px;
    color: rgba(119, 119, 119, 1);
    line-height: 30px;
    margin-top: 30px;
}
/* Courses Section */
.para-text{
    color: rgba(119, 119, 119, 1);
    font-size: 16px;
}
/* Register Section */
.register-section{
    background-color: rgba(40, 155, 222, 1);
    min-height: 300px;
    /* padding: 150px; */
}
/* FAQ Section */
.faq{
    margin-top: 100px;
}
.question-area{
    margin-top: 70px;
}
/* Footer Section */
.footer{
    height: 300px;
    background-color: rgba(22, 22, 22, 1);
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;
}
.footer h1{
    font-size: 40px;
    font-weight: 600;
}
.social-icon{
    margin-top: 30px;
}
.social-icon img{
    width: 3%;
}
