body{
        font-family: 'Poppins', sans-serif;
        background: #f5f5f5;
}
/* Header Section */
.header{
         min-height: 600px;
         background: #F0FFF0;           
}
.header nav{
        padding: 25px 0;
}
.nav-link{
        color: #000 !important;
        font-size: 16px !important;
        margin: auto 15px;
}
.nav-link:hover{
        color: #21B573 !important;
}
.logo{
        width: 160px;
}
.nav-link{
        color: #000;

}
.btn{
        color: #fff !important;
        text-align: center;
        background-color: #21B573;
        width: 100px;
        padding: 8px 9px 7px 10px;
        border-radius: 15px;
        -webkit-border-radius: 30px;
}
.btn:hover{
        color: #fff !important;
}
.row{
        margin-top: 100px;
}
.row h6{
        color:#DC3545;
}
.row h3{
        font-weight: 700;
        font-size: 50px;
        color: #000;
        line-height: 70px;
}
.row h3 span{
        color: #21B573;
}
.row p{
        color: #DC3545;
        line-height: 36px;
}
.row .btn{
        width: 150px;
}
/* Card Section */
.card h5{
        font-size: 24px;
        font-weight: 500;
        color: #413960;
        line-height: 36px;
}
.card p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #212529;
}
.card {
        width: 270px;
        height: 270px;
        border-radius: 10px;
        margin: 60px 30px;
        background: #F8FFFB;
}
.card:hover{
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.icon img{
        width: 70px;
        height: 75px;
}
/* Course Section */
.courses-section h2{
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        color: #413960;
}
.card-body h5{
        font-size: 24px;
        color:#413960;
        font-weight: 500;
        line-height: 36px;
}
.courses-section .card-body p{
        font-size: 16px;
        line-height: 24px;
        color: #212529;
        font-weight: 400;
}
.buy-course{
        width: 150px;
}
.date img, .seat img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
}
.card-foot{
        margin-top:30px;
}
/* Testimonial */
.testimonial{
        margin-top: 100px;
}
.testimonial h1{
        font: 36px;
        font-weight: 700;
        line-height: 54px;
        color: #000000;
        margin: 80px auto;
}
.testimonial img{
        width: 120px;
        margin: 0px 60px 0px 250px;
}
.testimonial p{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #212529;
}
/*Footer*/
.footer{
        background: #282531;
        color: #ffffff;
        min-height: 47vh;
}
.footer ul li{
        list-style: none;
        line-height: 30px;
}
.footer ul{
        margin-top: 35px;
}
.footer p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
}